@media (max-width:991px) {
    .choice.w-50,
    .about .container .img {
        width: 100% !important;
    }
    .about .container {
        max-width: 100%;
    }
    .about .container .img {
        padding-left: 0px !important;
        margin-top: 30px;
    }
    .about .container .card {
        width: 50%;
    }
    .about .container .choice h3 {
        max-width: 100%;
    }
}
@media (max-width:570px) {
    .about .container .card {
        width: 100%;
    }
    .about .container .choice h3 {
        font-size: 30px;
    }
}
/* END */
@media (max-width:991px) {
    .features .container {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .features .container .icon_list {
        width: 50%;
        margin-bottom: 35px;
    }
    .member .container {
        max-width: 100%;
    }
    .member .container .item_member {
        width: 49%;
    }
}
@media (max-width:570px) {
    .features .container .icon_list {
        width: 100%;
    }
    .member .container .item_member {
        width: 100%;
    }
}